<p>Hi <%= @resource.email.gsub(/@\w+\.\w+/,"") %>!</p>

<p>To change your password, click on the following link: </p>
<p><%= link_to 'Click here', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Login with username: <b><%=@resource.username %></b></p>